<html>

<body>
    <h1> <%= title%>   </h1>

    <p>Create New event:</p>
    <form name="event_create" action="/events" method="post">
        Event title
        <input type="text" name="event_title" id="event_title"> About Event:
        <input type="text" name="event_content" id="event_content"> Event Price:
        <input type="text" name="event_price" id="event_price"> Early Bird %:
        <input type="text" name="early_bird_prec" id="early_bird_prec">
        <input type="submit" value="submit">
    </form>

</body>

</html>